ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs {
    display: flex;
}
.tab {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}
.tab.active {
    background-color:#937341 ;
    color: #23201D;
}
  /* .output{
    clear:both;
  } */
  .section {
    display: none;
  }
  .section.active {
    display: block;
  }
  