.container {
    width: 1280px;
    margin: 0 auto;
}
.logo { 
    display: inline-block;
    font-size: 80px;
    text-decoration: none;
    color: black;
    padding-top:  61px;

}
.logo-color {
    color:skyblue;
}
.menu {
    background-color: #35444F;
    text-align: center;
    margin-top: 38px;

}
.menu-item {
    display: inline-block;
    height: 69px;
    list-style: none;
    border-left:  1px solid  #FFFFFF; 
}
.menu-item-link {
    display: block;
    padding: 20px 40px;
    color: #FFFFFF;
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    }
.aside-block {
    border: 1px solid black;
    width: 344px;
    height: 399px;
}
.aside-menu-item {
    padding: 22px;
    list-style: none;
}
.aside-menu-link {
    font-size: 27px;
    color: #485863;
    text-decoration: none;
}
.wrapper {
     display:flex;
    justify-content: space-between;
    margin-top: 50px;
}
.content {
    width: 885px;
}
.img-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-bottom: 37px;

}
.footer-menu {
        margin-top: 54px;
        height: 69px;
        display: flex ;
        justify-content: space-evenly;
        align-items: center;
        background: rgba(99, 105, 110, 0.48);
    }
    .footer-menu-item {
        list-style: none;
        color: #010101;
        font-size: 24px;
    }
    .footer-menu-link {
        text-decoration: none;
        color:  #0C1927;
        font-size: 28px;
    }

