.page-body {
    margin: 0 auto;
    background-image: url(../img/background.png);
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.header-container {
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
}
.header-title {
    margin: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 79px;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.header-menu {
    display: flex;
    align-items: center;
}
.menu-item { 
    margin-right: 24px;
    list-style: none;
}
.border {
    padding-right: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.5) ;
}
.menu-register {
    list-style: none;
    margin-right: 79px;
    color: #FFFFFF;
    padding-bottom: 2px;
}
.login {
    color: #FFFFFF;
    text-decoration: none;
}
.signup {
    color: #FFFFFF;
    text-decoration: none;
}
.login:hover {
    color: #3CB878;
}
.signup:hover {
    color: #3CB878;
}
.header-title:hover {
    color: #3CB878;
}
/* main */
.main-container {
    margin: 0 auto;
    margin-top: 54px;
    width: 444px;
    background-color: #FFFFFF;
    margin-bottom: 74px;
}
.signlog {
    padding-top: 29px;
}
.shape {
    margin-right: 40px;
}
.main-login {
    margin-left: 215px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    
}
.main-signup {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color:#434343;
    text-decoration: none;
    margin-bottom: 15px;
}
.form-container {
    padding-left: 60px;
    padding-right: 60px;
}
.form-buttons {
    display: flex;
    margin-top: 15px;
}
.button-face {
    font-size: 16px;
    line-height: 16px;
    margin-right: 5px;
	background-color: #305DB8;
	border: none;
	border-radius: 4px;
	padding: 11px 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.button-face::after {
	content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 25px;
    background-color:#0A162F;
    opacity: 0.1;
    left: 50px;
}
.linkface {
    font-size: 16px;
	text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 13px;
    padding-right: 5px;
}
.facebook-logo {
	margin-right: 20px;
}
.button-google {  
    font-size: 16px;
    line-height: 16px;
	background-color: #DF4A32;
	border: none;
	border-radius: 4px;
	padding: 11px 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.button-google::after {
	content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 25px;
    background-color:#0A162F;
    opacity: 0.1;
    left: 55px;
}
.linkgoogle {
	font-size: 16px;
	text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 5px;
}

.form-input {
    width: 300px;
    height: 46px;
    /* margin-left: 60px; */
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.form-input:hover {
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
/* .checkbox {
    display: none;
}
.fake {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    position: relative;
}
.fake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-image: url(/img/Vector\ 1.svg);
    opacity: 0;
}
.checkbox:checked + .fake::before {
    opacity: 1;
}
.label-checkbox {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 62px;
}
.checkbox-text { 
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.checkbox-link {
    color: #3CB878;
    text-decoration: none;
}
.menu-img:hover .img-color {
    fill:#3CB878;
}
*/
.or {
    margin-top: 31px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
	overflow: hidden;
}
.or:before,
.or:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 152px;
	height: 1px;
	background:#F2F2F2;
	border: solid #FFF;
	border-width: 0 5px;
}
.or:before {
    /* margin-left: 58px; */
    margin-right: 5px;
}
.or:after { 
    margin-left: 2px;
} 
.checkbox:checked,
.checkbox:not(:checked) {
	display: none;
}
.checkbox:checked + .checkbox-label,
.checkbox:not(:checked) + .checkbox-label {
	display: inline-block;
	position: relative;
    /* margin: 12px 60px 20px; */
    margin-top: 12px;
    margin-bottom: 20px;
	padding-left: 28px; 
	line-height: 20px;
	cursor: pointer;
	font-size: 14px;
}
.checkbox:checked + .checkbox-label:before,
.checkbox:not(:checked) + .checkbox-label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #dddddd;
	border-radius: 2px;
	background-color: #ffffff;
}
.checkbox:checked + .checkbox-label:after,
.checkbox:not(:checked) + .checkbox-label:after {
	content: '';
	position: absolute;
	transition: all 0.2s ease;
}
.checkbox:checked + .checkbox-label:after,
.checkbox:not(:checked) + .checkbox-label:after {
	left: 3px; 
	top: 4px;
	width: 10px;
	height: 4px;
	border-radius: 1px;
	border-left: 2px solid #3cb878;
	border-bottom: 2px solid #3cb878;
	transform: rotate(-45deg);
}
.checkbox:not(:checked) + .checkbox-label:after {
	opacity: 0;
}
.checkbox:checked + .checkbox-label:after {
	opacity: 1;
}
.form-checkbox-greentext {
	color: #3cb878;
	cursor: pointer;
}
.form-checkbox-greentext:hover {
	text-decoration: underline;
}
.create {
    /* margin-left: 60px; */
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    margin-bottom: 38px;
}
.create-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.menu-img:hover .img-color {
    fill:#3CB878;
}

