.header-btn{
    color:gray;
    text-decoration: none;
    margin-right: 10px;

}
.btn-container{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}
.btn{
    margin-right: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;

    color: white;
}
.btn:hover {
    color:green;
    border: 2px solid green;

}
.close-btn {
    margin-left:190px;
    margin-bottom: 15px;
    padding: 8px 8px 8px 8px;
    border: 2px solid black;
    cursor: pointer;

}
.close-btn:hover {
    border-radius: 6px;
}