.card-container{
    padding: 20px 20px 20px 20px;
    display: block;
    border: 2px solid yellowgreen;
    background-color: bisque;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.price{
    color:red;
}