.modal{
    color: white;
    margin: 0 auto;
    background-color:burlywood ;
    text-align: center;
    width: 50%;
    margin-top: 5%;
 
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-left: 80px;
   background-color:orange;
//    margin-top: 33%;
}


.modal-container{
    width: 100%;
    height: 100vw;
    background-color:rgba(128, 128, 128, 0.5);
    position: fixed;  
    margin: 0 auto;  
    top: 0;
    left: 0;    
}