.page-body {
    margin: 0;
}
.container-menu {
    background-color: #313131;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    margin-left: 29px;
    align-items: center;
}
.logo-image {
    width: 27px;
    height: 27px;
}
.logo-image-name {
    margin-left: 27px;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}
.header-menu {
    display: flex;
}
.header-menu-item {
    list-style: none;
    margin-left: 35px;
}
.header-menu-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
}
.header-menu-item:hover .header-menu-link {
    color: #14B9D5;
}
.search-container {
    display:flex;
    justify-content: space-around;
    align-items: center;

    width: 68px;
    height: 70px;
    background-color: #000000;
}


.container-latest-news {
    background-image: url(../img/header-background.png) ;
    text-align: center;
}
.container-latest-news-text {
    margin-top: 0px;
    padding-top: 163px;
    margin-bottom: 44px;
    
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF;
}
.Button-Subscribe {
    width: 170px;
    height: 55px;
    background-color: #89CA62;
    border-radius: 4px;
    margin-bottom: 74px;
}
.Button-Best-articles {
    width: 170px;
    height: 55px;
    background: #14B9D5;
    margin-left: 20px;
    border-radius: 4px;
    margin-bottom: 74px;
}
.Button-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
/* main */
.container-most-popular {
background-color: #F2F2F2; 
}
.most-popular-title {
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    margin-top: 0px;
    text-align: center;
    padding-top: 49px;
}
.container-images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    /* width: 1170px; */
    height: 900px;
    margin-top: 52px;
}
.most-popular{
    margin: auto;
    width: 1170px;
}
 .popular-images { 
  /* background-color: #FFFFFF; */
  text-align: center;
  margin-right: 30px;
  margin-bottom:31px; 
    } 
.popular-title {
    padding: 20px 30px;
    margin-top: 0;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    color:#353A3D;
    
}

/*  clients*/
.clients {
    background-image: url(../img/layerclients.png);
}
.clients-title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-top: 0px;
    padding-top: 108px;
    color:#FFFFFF;
}
.decor-line {
    background: #18B4CF;
    height: 3px;
    width: 60px;
    margin-top: 87px;
}
.container-clients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 107px;
    padding-bottom: 191px;
    justify-items: center;
    align-items: center;
}




.top-rated-title {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    margin-top: 48px;
}
.grid-container {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(150px, auto));
    margin: 0;
    width: auto;
    }
.hot-news-wrapper {
    margin: auto;
    width: 1168px;

    }
.grid-container-hot-news{
    display: grid;
    grid-template-rows: 258px 416px 416px 258px;
    grid-template-columns: 277px 242px 242px 277px;
    grid-row-gap: 40px;
    grid-column-gap: 35px;
    grid-template-areas:
         "item1 item1 item1 item2"
         "item3 item3 item4 item4"
         "item5 item5 item6 item6"
         "item7 item8 item8 item8";
         margin-bottom: 71px;
}
.hot-news-title {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    margin-top: 48px;
    margin-bottom: 51px;
}
.hot-news-name {
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    
}
.item1 {
    grid-area: item1;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    
    
}
.item2{ 
    grid-area: item2;
    display: grid;
    grid-template-rows: 1fr 50px;
    text-align: center;
    
}
.item3{
    grid-area: item3;
    display: grid;
    grid-template-columns: 554px;
    grid-template-rows: 1fr 155px;
    text-align: right;
    
}
.item4 {
    grid-area: item4;
    display: grid;
    grid-template-columns: 554px;
    grid-template-rows: 1fr 155px;
    text-align: right;
}
.item5 {
    grid-area: item5;
    display: grid;
    grid-template-columns: 554px;
    grid-template-rows: 1fr 155px;
    text-align: right;
}
.item6 {
    grid-area: item6;
    display: grid;
    grid-template-columns: 554px;
    grid-template-rows: 1fr 155px;
    text-align: right;
}
.item7 {
    grid-area: item7;
    display: grid;
    grid-template-rows: 1fr 50px;
    text-align: center;
    
}
.item8 {
    grid-area: item8;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
}

    
   .hot-news-text {
    display: grid;
    background-color: #F9F7F7; 
    font-weight: 600;
    font-size: 14px;
    color: #5B6469;
    padding-left: 13px;
    padding-right: 14px;
   }


.page-footer {
    margin: 0px;
    background-color: #000000;
    display: flex;
    
}
.footer-wrapper {
    margin: auto;
    display: flex;
    width: 1168px;
    justify-content: space-between;
    align-items: center;
    
    
}
.rights {
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    padding-top: 29px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    margin-top: 0;
}




