.page-body {
  margin:  auto;
  font-family: 'Montserrat', sans-serif;
}
.page-header {
  background-image: url(../images/background/backgroundheader.png);
  background-size: cover;
}
.container-menu {
  background-color: rgba(94, 93, 88, 0.6);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.menu-wrapper{
    margin: auto;
    width: 1160px;
    display: flex;
  align-items: center;
  justify-content:space-between;

}
.theHam {
  margin-left: 6px;
  padding-bottom: 6px;
}
.ham {
  color: #18cfab;
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  /* margin-left: 140px; */
}
.logo-image-name {
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  text-decoration: none;
}
.logo-image {
  position: relative;
}
.logo-image-letter {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 31px;
  position: absolute;
  color: #ffffff;
  padding-left: 14px;
  padding-bottom: 12px;
}
.header-menu {
  display: flex;
  /* margin-left: 100px; */
}
.header-menu-item {
  list-style: none;
  margin-left: 35px;
}
.header-menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
.header-menu-item:hover .header-menu-link:before { 
  content: "";
  width: 60px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  margin-top: 78px;
}
.header-menu-link:hover {
    color: #18cfab;
}

.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 68px;
  height: 70px;
  background-color: #000000;
}
.container-ham-is {
  text-align: center;
}
.ham-is {
  font-size: 35px;
  line-height: 1px;
  color: #ffffff;
  margin-top: 260px;
}
.wordpress-theme {
  color: #18cfab;
}
.creative {
  font-size: 78px;
  color: #ffffff;
  line-height: 1px;
  padding-top: 22px;
  padding-bottom: 22px;
}
.features {
  margin-bottom: 134px;
  font-size: 34px;
  line-height: 1px;
  color: rgba(212, 212, 212, 1);
}
.explore-btn{
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 14px 11px 11px 16px;
    background: rgba(24, 207, 171, 1);
    text-decoration: none; 
    margin-bottom: 243px;
    border-top: 5px solid white;
}
.purchase-btn-header{
    display: inline-block;
    margin-left: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 14px 11px 11px 16px;
    background: rgba(0, 203, 246, 1);
    text-decoration: none; 
    margin-bottom: 243px;
    border-top: 5px solid white;
}

.services {
  background-color: #ffffff;
}

.options-img {
  display: flex;
  height: 300px;
  margin-top: 8px;

  
}
.option-first {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(28, 42, 51, 1);
    color: #ffffff;
    
}


.option-second {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(24, 207, 171, 1);
    
}
.option-second-text{
    padding-top: 20px;
}

.our-services {
  margin: auto;
  width: 1160px;
}
.services-title {
  margin-top: 83px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  position: relative;
}
.services-title::after {
  content: " ";
  width: 79px;
  height: 2px;
  display: block;
  background-color: #18cfab;
  position: absolute;
  margin: 24px 542px;
}
.services-title::before {
  content: " ";
  width: 79px;
  height: 2px;
  display: block;
  background-color: #18cfab;
  position: absolute;
  margin: 70px 550px;
}
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
}
.tabs {
  display: flex;
  list-style: none;
  padding-left: 0px;
}
.tab {
  padding-top: 20px;
  width: 192px;
  height: 60px;
  background-color: rgba(248, 252, 254, 1);
  color: rgba(113, 113, 113, 1);
  cursor: pointer;
  border: 1px solid rgba(242, 242, 242, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 39px;
  align-items: center;
  text-align: center;
  
}
.tab:hover {
  border: 1px solid rgba(24, 207, 171, 1);
}
.tab-content {
  display: none;
  /* width: 1160px; */
}
.content-active{
    display: flex;
}
.tab-content-text{
  padding-left: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}
.active {
  background-color: rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.tab.active:before{
    content: "";
    border: 10px solid transparent; 
    border-top: 10px solid rgba(24, 207, 171, 1);
    position: absolute;
    margin-top: 60px;
    margin-left: 28px;
}
.section {
  display: none;
}
.section.active {
  display: block;
}

.everything-ready {
  text-align: center;
  background-image: url(../images/just-buy.png);
  background-size: cover;
}
.just-buy {
  margin-top: 91px;
  padding-top: 127px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #18cfab;
}
.options {
    margin-bottom: 62px;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
}
.purchase-btn{
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 14px 11px 11px 16px;
    background: rgba(24, 207, 171, 1);
    text-decoration: none; 
    margin-bottom: 128px;
    border-top: 5px solid white;
}

.our-amazing-work{
    background-color:rgba(233, 237, 239, 1);
    text-align: center;
}
.our-amazing-work-container{
    margin: auto;
    width: 1160px;
}
.our-amazing-work-title{
    color: #4E4E4E;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    padding-bottom:97px;
    position: relative;
    margin-top: 0px;
    padding-top: 96px;
}   


.our-amazing-work-title::before {
    content: " ";
    width: 79px;
    height: 2px;
    display: block;
    background-color: #18cfab;
    position: absolute;
    margin: 70px 550px;
  }
  .our-amazing-work-title::after {
    content: " ";
    width: 79px;
    height: 2px;
    display: block;
    background-color: #18cfab;
    position: absolute;
    margin: 24px 542px;
  }
  .amazing-work-tabs{
  display: flex;
  list-style: none;
  justify-content: center;;
  }
.amazing-work-tab{
  background-color: rgba(233, 237, 239, 1);
  color:rgba(113, 113, 113, 1);
  cursor: pointer;
  border: 1px solid rgba(218, 218, 218, 1);
  align-items: center;
  text-align: center;
  padding: 15px 16px 16px 15px;
}
.amazing-work-tab:hover {
    border: 1px solid rgba(24, 207, 171, 1);
}
.work-tab-active{
    border: 2px solid rgba(24, 207, 171, 1);
}

.amazing-images-active{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 70px;
    margin-top: 71px;
}
.test-img{
    display: none;
}
.img-content{
    display: inline-block;
    position: relative;
    width: 25%;
    
}
.img-content img{
    width: 100%;
    height: 100%;
}
.creative-design-text{
    font-weight: bold;
    padding-top: 24px;
    font-size: 14.1771px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
}
.category-name{
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
}
.first-link{
    border: 1px solid #18CFAB;
    border-radius:50%;
    padding: 9px 11px 7px 11px;
}
.second-link{
    background: #18CFAB;
    border: 1px solid #18CFAB;
    border-radius:50%;
    padding: 8px 12px 8px 12px;
}
.img-content:hover .test-img{
    padding-top:50px;
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #E9EDEF;;
    border-top: 4px solid #18CFAB;;
    left: 0;
    top: 0;
}

.load-more-btn{
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 15px 11px 11px 42px;
    background: rgba(24, 207, 171, 1);
    text-decoration: none; 
    margin-bottom: 99px;
    position: relative;
    cursor: pointer;
}

.load-more-btn::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 4px;
    background-color: #ffffff;
    display: block;
    margin-top: 13px;
    margin-left: -28px;
}
.load-more-btn:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 16px;
    background-color: #ffffff;
    display: block;
    margin-top: -25px;
    margin-left: -22px;

}
.breaking-news{
    margin: auto;
    background-color:  rgba(255, 255, 255, 1);
    text-align: center;
}

.breaking-news-container{
    margin: auto;
    width: 1160px;
}
.breaking-news-title{
    color: #4E4E4E;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin-top: 82px;
    margin-bottom: 100px;
    position: relative;
}
.breaking-news-title::before {
    content: " ";
    width: 79px;
    height: 2px;
    display: block;
    background-color: #18cfab;
    position: absolute;
    margin: 70px 550px;
  }
  .breaking-news-title::after {
    content: " ";
    width: 79px;
    height: 2px;
    display: block;
    background-color: #18cfab;
    position: absolute;
    margin: 24px 542px;
  }
  .container-amazing-blog-post{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 700px;
  }
  .blog-post{
      width: 263px;
      text-decoration: none;
      color: rgba(113, 113, 113, 1);
      font-weight: bold;
      font-size: 17.9885px;
      position: relative;
      margin-bottom: 40px;
  }
  .blog-post-text{
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
  }
  .blog-post-link{
      color: #717171;;
      text-decoration: none;
  }
  .blog-post:hover .blog-post-link{
      color: #18cfab;
  }
  .blog-post:hover .date{
      background-color: #18CFAB;
  }
  .date{
      text-align: center;
      position: absolute;
      background-color:#203E38;
      width: 70px;
      height: 68px;
      top: 0;
      right: 0;

  }
  .date-number{
      padding-top: 10px;
      color: #FFFFFF;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      margin: auto;

  }
  .date-text-month{
      display: block;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-bottom:20px;
    margin: auto;

  }

.admin{
    color:#777777;
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    margin-right: 10px;
    position: relative;
    margin-top: 7px;
    margin-left: 10px;
}
.admin:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 12px;
    background-color:#777777 ;
    margin: 3px 82px;
}
.comment{
    margin-left: 30px;
}
.section-what-people-say{
    background-image: url(../images/background/whatpaoplesay.png);
    background-size: cover;

}
.container-what-people-say{
    margin: auto;
    width: 1160px;
    text-align: center;
}
.what-people-say-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    padding-top: 98px;
    position: relative;
}
.what-people-say-title::before {
    content: " ";
    width: 79px;
    height: 2px;
    display: block;
    background-color: #18cfab;
    position: absolute;
    margin: 70px 550px;
  }
  .what-people-say-title::after {
    content: " ";
    width: 79px;
    height: 2px;
    display: block;
    background-color: #18cfab;
    position: absolute;
    margin: 24px 542px;
  }
  .quotes{
      margin-top: 70px;
  }
  .container-people-comment{
      margin: auto;
      width: 1160px;
      text-align: center;
  }
  .people-comment{
      display: none;
  }
  .comment-text-active{
    color: #BBBBBB;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
  }
.active-comment{
    display: block;
}
  .name{
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 37px;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
  }
  .profession{
    color: #BBBBBB;
    font-style: normal;
    font-size: 14px;
}
.name-img{
    margin-top: 50px;
    border: 10px solid rgba(31, 218, 181, 0.1);
    border-radius: 50%;
}
.container-all-professions{
    margin: auto;
    margin-top: 68px;
    width: 560px; 
    display: flex;
    align-items: center;
}
.tabsItem{
    display: flex;
}
.btn-left{
    width: 31px;
    height: 31px;
    border: 1px solid rgba(187, 187, 187, 1);
    cursor: pointer;
    margin-right: 35px;
    position: relative;
}
.btn-left:hover{
    background-color: #18CFAB;
}
.arrow-left{
    width: 8px;
    height: 8px;
    border-top: 2px solid #BBBBBB;
    border-right: 2px solid #BBBBBB;
    margin-top: 10px;
    margin-left: 12px;
    transform: rotate(-135deg);
}
.arrow-right{
    width: 8px;
    height: 8px;
    border-top: 2px solid #BBBBBB;
    border-right: 2px solid #BBBBBB;
    margin-top: 10px;
    margin-left: 8px;
    transform: rotate(45deg)
}


.people-icon{
    border: 4px solid rgba(31, 218, 181, 0.1);
    border-radius: 50%;
    margin-right: 38px;
}
.btn-right{
    width: 31px;
    height: 31px;
    border: 1px solid rgba(187, 187, 187, 1);
    cursor: pointer;
}

.btn-right:hover{
    background-color: #18CFAB;

}
.active-icon{
    border: 4px solid rgba(31, 218, 181, 0.1);
    border-radius: 50%;
    margin-right: 38px;
    margin-bottom: 16px;
}
.footer{
    margin-top:-2px;
    background-color: rgba(34, 53, 63, 1);
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    padding-top: 27px;
    padding-bottom: 27px;

}
.ham-footer{
    color: #18cfab;
}
.footer-text{
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
}
