.page-body {
    margin: 0;
    background-image: url(../img/background\ 1.png);
    background-size: cover;
    
}
.container {
    width: 1023px;
    margin: 0 auto;
    
}
.logo {
    margin-top: 51px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}
.logo-image {
    margin-right: 8px;
    
}
.logo-link {
    text-decoration: none;
    color: #FFFFFF;
}
.milan {
    padding-bottom: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 608px;
}
.holidays {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.contact {
    text-align: right;
    
}
.email {
    margin-bottom: 19px;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
}
.tel {
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
}
.logo-link:hover .milan {
    color:  #F26522;
}
.logo-link:hover .logo-image  {
    content: url(../img/logo2.png);
}
.tel:hover {
    color: #F26522;
}
.email:hover {
    color: #F26522;
}
.container-images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    height: 612px;
    text-align: center;
    
}
 .image-link {
     display: block;
     padding-bottom: 20px;
     
}
.image-link2 {
    display: block;
    padding-bottom: 20px;
    padding-top: 37px;

}
.container-link  {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    
}
.main-images {
    width: 300px;
    margin-right: 62px;
    position: relative;
    
}
.footer-text {
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 12px;
}
.container-link:hover {
    color: #F26522;
}
.main-image-price {
    position: absolute;
    display: none;
    background-color: #F26522;
    width: 297px;
}
.from {
    display: block;
    margin-bottom: 8px;
    margin-left: 16px;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
}
.price-number{
    margin-left: 16px;
    margin-right: 128px;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}
  .details { 
    display: block; 
    font-weight: normal;
    font-size: 14px;
    line-height: 14px; 
    text-transform: uppercase;
    margin-left: 180px;
    margin-bottom: 12px;
    
}
.main-images:hover .main-image-price {
    display: block;
    text-align: left;
    bottom: 46px;
    margin-left: 2px;
    text-decoration: none;
    color: #FFFFFF;
}