.page-body {
background: rgba(0, 0, 0, 0.0001);
margin: auto;
}
.main-menu {
    list-style: none;
    text-align: center;
   }

    .main-menu__item {
        display: inline;
       margin: 72px;
     }
.main-menu__link{
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    
}
.main-title  {
    margin-top: 48px;
    margin-bottom: 38px;
}
.main-image {
    width:100% ;
    height: 100%;
}
.main-button {
text-align: center;
margin-top: 66px;
color: white;
background-color: red;
width: 191px;
height: 51px;
border-radius: 4px;
}
.main-content {
    text-align: center;
}

.main-content__text {
margin-left: 67.5px;
margin-right:67.5px;
top: 115px;
font-size: 16px;
line-height: 26px;

color: #373737;
}
.footer-title {
    padding: 29px 0;
    text-align: right;
    }
    .copyright {
        font-size: 16px;
        font-weight: bold;
        margin-right: 105px;
    }