.page-body{
    background-color: black;
}
.main-menu__link{
    color:white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    
}
.main-button {
    text-align: center;
    margin-top: 66px;
    color:black;
    background-color:white;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    }
.main-content__text {
    margin-left: 67.5px;
    margin-right:67.5px;
    top: 115px;
    font-size: 16px;
    line-height: 26px;
    color:white;
 }
 .main-title  {
     color: white;
    margin-top: 48px;
    margin-bottom: 38px;
}

 .footer-title {
    padding: 29px 0;
    text-align: right;
    color: white;
}   
