.focused {
    border:2px solid green;
    outline: none;
}
.price {
    width: 175px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
    color:green;
}
.close-btn {
    margin-left:10px;
    border: 1px solid gray;
    border-radius: 50%;
    outline: none;
}
.bad-price {
    border:2px solid red;
    outline: none;
}